:root {
  --main-color: #ff9800;
  --secondary-color: #169dbe;
  --main-black: #444;
}

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container {
  width: 85%;
  margin: auto;
}

@media (max-width: 992px) {
  .container {
    width: 90%;
    margin: auto;
  }
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

ul {
  list-style: none;
}

a {
  color: #272727;
  text-transform: capitalize;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  outline: none;
}

input {
  outline: none;
}

.section-title {
  margin-bottom: 70px;
  text-align: center;
}

.section-title h2 {
  display: inline-block;
  padding: 0 7px;
  border-left: 4px solid var(--main-color);
  border-right: 4px solid var(--main-color);
  color: var(--main-black);
  text-transform: uppercase;
}

.header-section {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  border-bottom: 1px solid rgba(238, 238, 238, 0.2);
}

.header-section.fixed-header {
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  animation: fixHeader 1.5s ease;
}

.header-section.fixed-header .header-content .header-logo a {
  color: var(--main-black);
  font-size: 27px;
  font-weight: bold;
}

.header-section.fixed-header .header-content .header-logo a:hover {
  color: var(--main-color);
}

.header-section.fixed-header .header-content .header-logo a span {
  color: var(--main-color);
}

.header-section.fixed-header .header-content .header-links li a {
  color: var(--main-black);
  font-size: 15px;
  font-weight: bold;
}

.header-section.fixed-header .header-content .header-links li a:hover {
  color: var(--main-color);
}

.header-section.fixed-header .header-content .header-links li a.active {
  color: var(--main-color);
}

.header-section.fixed-header .header-content .mobile-menu i {
  color: var(--main-black);
}

@keyframes fixHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header-content {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-logo a {
  color: #fff;
  font-size: 27px;
  font-weight: bold;
  transition: color 0.4s ease-in-out;
}

.header-logo a:hover {
  color: var(--main-color);
}

.header-logo a span {
  color: var(--main-color);
}

.header-links {
  display: flex;
  flex-wrap: wrap;
}

.header-links li a {
  display: block;
  padding: 23px 10px;
  color: #fff;
  font-family: roboto;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.4s ease-in-out;
}

.header-links li a:hover {
  color: var(--main-color);
}

.header-links li a.active {
  color: var(--main-color);
}

.mobile-menu {
  display: none;
}

.mobile-menu i {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-logo {
    padding: 15px 0;
  }
  .header-links {
    position: absolute;
    top: 63px;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #eee;
    flex-direction: column;
    transition: all 0.6s ease-in-out;
    transform: translateX(100%);
  }
  .header-links li a {
    padding: 20px 50px;
    color: var(--main-black);
    transition: all 0.3s ease-in-out;
  }
  .header-links li:hover {
    background-color: var(--main-black);
  }
  .header-links.active {
    transform: translateX(0%);
  }
  .mobile-menu {
    display: block;
  }
}

.hero-section {
  height: 100vh;
  background-image: url(../images/hero-image.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
}

.hero-content h1 {
  margin-bottom: 10px;
  font-size: 60px;
}

.hero-content h1 span {
  color: var(--main-color);
}

.hero-content p {
  margin: auto;
  width: 75%;
  line-height: 1.6;
  color: #eee;
}

.hero-content button {
  margin: 30px;
  padding: 10px 20px;
  background-color: var(--main-color);
  border: none;
  border: 2px solid #e1e1e1;
  border-radius: 3px;
  transition: all 0.4s ease-in-out;
}

.hero-content button:hover {
  color: #272727;
  background-color: #fff;
}

.hero-content button a {
  color: var(--main-black);
  font-size: 15px;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 45px;
  }
}

@media (max-width: 540px) {
  .hero-content h1 {
    padding: 0 20px;
    font-size: 30px;
  }
}

.about-section {
  padding: 70px 0;
}

.about-us-content {
  display: flex;
  justify-content: space-between;
}

.about-us-image.mobile {
  display: none;
}

.about-us-info {
  width: 47%;
}

.about-us-info h3 {
  margin-bottom: 30px;
  color: #444;
  font-size: 31px;
}

.about-us-info p {
  margin-bottom: 8px;
  color: gray;
  line-height: 1.7;
}

.about-us-info .desc-mobile {
  display: none;
}

.about-us-info button {
  margin-top: 25px;
  padding: 10px 20px;
  color: #fff;
  background-color: var(--main-color);
  border: 2px solid #e1e1e1;
  border-radius: 4px;
  font-size: 15px;
  text-transform: uppercase;
  transition: opacity 0.4s ease-in-out;
}

.about-us-info button:hover {
  opacity: 0.6;
}

.about-us-info button a {
  color: var(--main-black);
}

.about-us-image {
  width: 47%;
  border-bottom: 3px solid rgba(238, 238, 238, 0.7);
}

.about-us-image img {
  width: 100%;
}

@media (max-width: 768px) {
  .about-section {
    padding: 50px 0 30px 0;
  }
  .section-title.about {
    margin-bottom: 30px;
  }
  .about-us-content {
    flex-direction: column;
  }
  .about-us-info {
    margin-top: 40px;
    width: 100%;
  }
  .about-us-info .desc-desktop {
    display: none;
  }
  .about-us-info .desc-mobile {
    display: block;
  }
  .about-us-image.desktop {
    display: none;
  }
  .about-us-image.mobile {
    width: 100%;
    display: block;
  }
}

.skills-section {
  margin-top: 50px;
  padding: 100px 0;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../images/career.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.section-title.skills h2 {
  color: #fff;
}

.skills-content {
  position: relative;
  overflow: hidden;
}

.skills-content:before {
  content: '';
  width: 4px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -2px;
  top: 0;
}

.time-line-year {
  margin: 0px auto 30px auto;
  padding: 4px 7px;
  width: 50px;
  color: #fff;
  background-color: var(--main-color);
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 2;
}

.time-line-left {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  float: left;
  position: relative;
}

.time-line-left .content {
  padding: 25px;
  background-color: #fff;
  border-radius: 5px;
}

.time-line-left .content h3 {
  margin-bottom: 12px;
  color: var(--main-color);
  font-weight: bold;
}

.time-line-left .content p {
  margin-bottom: 10px;
  color: #666;
  line-height: 1.6;
}

.time-line-left .content .tools {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.time-line-left .content .tools p {
  margin-right: 7px;
  text-transform: capitalize;
  font-weight: bold;
}

.time-line-left .content .tools p:first-of-type {
  color: var(--main-color);
}

.time-line-left .content:before {
  content: '';
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #fff;
  width: 0;
  height: 0;
  position: absolute;
  top: 20px;
  right: -20px;
}

.time-line-left:before {
  content: '';
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: -35px;
}

.time-line-right .content:before {
  content: '';
  border-style: solid;
  border-width: 10px;
  border-color: transparent #fff transparent transparent;
  width: 0;
  height: 0;
  position: absolute;
  top: 20px;
  left: -20px;
}

.time-line-right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  float: right;
  position: relative;
}

.time-line-right .content {
  padding: 25px;
  background-color: #fff;
  border-radius: 5px;
}

.time-line-right .content h3 {
  margin-bottom: 12px;
  color: var(--main-color);
  font-weight: bold;
}

.time-line-right .content p {
  margin-bottom: 10px;
  color: #666;
  line-height: 1.6;
}

.time-line-right .content .tools {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.time-line-right .content .tools p {
  margin-right: 7px;
  text-transform: capitalize;
  font-weight: bold;
}

.time-line-right .content .tools p:first-of-type {
  color: var(--main-color);
}

.time-line-right:before {
  content: '';
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: -35px;
}

.clear-fix {
  clear: both;
}

@media (max-width: 768px) {
  .skills-section {
    padding: 70px 0;
  }
  .section-title.skills {
    margin-bottom: 40px;
  }
  .skills-content {
    width: 80%;
    margin: auto;
  }
  .time-line-left {
    width: 100%;
  }
  .time-line-left .content .tools p.tools-title {
    margin-bottom: 5px;
    width: 100%;
  }
  .time-line-right {
    width: 100%;
  }
  .time-line-right .content .tools p.tools-title {
    margin-bottom: 5px;
    width: 100%;
  }
  .time-line-left:before,
  .time-line-right:before {
    display: none;
  }
  .time-line-left .content:before,
  .time-line-right .content:before {
    display: none;
  }
}

@media (max-width: 540px) {
  .skills-section {
    padding: 50px 0;
  }
  .skills-content {
    width: 100%;
  }
}

.projects-section {
  padding: 70px 0 100px 0;
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item {
  margin-bottom: 2.5%;
  width: 31.5%;
  position: relative;
  border: 3px solid #eee;
}

.gallery-item img {
  width: 100%;
  display: block;
}

.gallery-item:hover .gallery-item-overlay {
  opacity: 1;
  visibility: visible;
}

.gallery-item-overlay {
  padding: 80px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
}

.gallery-item-overlay h3 {
  width: 100%;
  color: #fff;
  text-align: center;
}

.gallery-item-overlay button {
  margin: 3px;
  padding: 7px 13px;
  color: #fff;
  background-color: var(--main-color);
  border-radius: 4px;
  font-size: 13px;
  transition: all 0.5s ease-in-out;
}

.gallery-item-overlay button:hover {
  opacity: 0.8;
}

.gallery-item-overlay button a {
  color: #fff;
}

.popup-box-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-box-container h2 {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
}

.popup-box-container h3 {
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.popup-box-container .popup-box-image img {
  border: 10px solid #fff;
}

@media (max-width: 768px) {
  .gallery-item {
    margin-bottom: 3.5%;
    width: 48%;
  }
}

@media (max-width: 540px) {
  .projects-section {
    padding: 50px 0;
  }
  .section-title.projects {
    margin-bottom: 40px;
    text-align: center;
  }
  .gallery-content {
    justify-content: center;
  }
  .gallery-item {
    margin-bottom: 20px;
    width: 100%;
  }
  .popup-box-container .popup-box-image {
    width: 85%;
  }
}

.testimonials-section {
  position: relative;
  padding: 80px 0 130px 0;
}

.testimonials-section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--main-color);
}

.testimonials-section:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--main-black);
}

.section-title.testimonials {
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
}

.section-title.testimonials h2 {
  color: #fff;
  border-left-color: #fff;
  border-right-color: #fff;
  letter-spacing: 3px;
}

.testimonials-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonials-item {
  width: 31%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.testemonials-description p {
  color: #666;
  line-height: 1.6;
  font-style: italic;
  text-align: center;
}

.testemonials-description p span {
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
}

.testimonials-info {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.testimonials-info .info-image {
  margin-right: 20px;
  width: 100px;
  height: 100px;
}

.testimonials-info .info-image img {
  width: 100%;
  border-radius: 50%;
}

.testimonials-info .info-text h4 {
  color: var(--main-color);
}

.testimonials-info .info-text p {
  margin-top: 5px;
  color: gray;
  text-transform: capitalize;
}

@media (max-width: 992px) {
  .testimonials-section {
    position: relative;
    padding: 80px 0 80px 0;
  }
  .testimonials-content {
    justify-content: space-around;
  }
  .testimonials-item {
    margin-bottom: 40px;
    width: 40%;
  }
}

@media (max-width: 768px) {
  .testimonials-content {
    justify-content: space-around;
  }
  .testimonials-item {
    margin-bottom: 40px;
    width: 90%;
  }
}

@media (max-width: 540px) {
  .testimonials-section {
    padding: 50px 0;
  }
  .testimonials-item {
    width: 100%;
  }
}

.services-section {
  padding: 100px 0 60px 0;
  background-color: #f6f6f6;
}

.services-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-item {
  margin-bottom: 40px;
  padding: 40px 20px;
  width: 31%;
  border: 2px solid #eee;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.services-item:hover .services-overlay {
  visibility: 1;
  opacity: 1;
  height: 100%;
}

.services-item .services-item-icon i {
  color: var(--main-color);
  font-size: 50px;
}

.services-item .services-item-text h4 {
  margin: 10px 0;
}

.services-item .services-item-text p {
  color: #666;
  line-height: 1.6;
}

.services-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: var(--main-black);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: 0;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.services-overlay button {
  padding: 10px;
  color: #fff;
  background-color: var(--main-color);
  transition: all 0.5s ease-in-out;
}

.services-overlay button:hover {
  color: var(--main-color);
  background-color: #fff;
}

@media (max-width: 992px) {
  .services-item {
    width: 47.3%;
  }
}

@media (max-width: 768px) {
  .services-item {
    padding: 20px 10px;
  }
  .services-item .services-item-icon i {
    font-size: 30px;
  }
}

@media (max-width: 540px) {
  .services-section {
    padding: 50px 0;
  }
  .services-content {
    justify-content: center;
  }
  .services-item {
    padding: 30px;
    width: 100%;
  }
}

.blog-section {
  padding: 100px 0 150px 0;
  position: relative;
}

.container.blog {
  overflow: hidden;
}

.blog-content {
  width: 100%;
  display: flex;
  transition: transform 0.8s ease;
}

.blog-item {
  padding: 0 10px;
  flex: 0 0 33.33%;
  cursor: pointer;
}

.blog-item:hover .blog-image img {
  transform: scale(1.1);
}

.blog-image {
  width: 100%;
  border: 2px solid #eee;
  border-radius: 3px;
  overflow: hidden;
}

.blog-image img {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
}

.blog-text {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #eee;
}

.blog-date {
  margin: 10px 0px;
  color: #444;
  font-size: 14px;
}

.blog-title {
  text-transform: capitalize;
  color: #444;
}

.blog-description {
  margin: 10px 0px;
  color: gray;
}

.blog-read-more {
  color: var(--main-color);
  text-decoration: underline;
}

.blog-controls {
  margin-top: 40px;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 27%;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.blog-btn {
  margin: 25px 10px;
  padding: 5px 10px;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  border-radius: 3px;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.blog-btn:hover {
  background-color: #ff9900ab;
}

@media (max-width: 992px) {
  .blog-section {
    padding: 70px 0 170px 0;
  }
  .blog-item {
    flex: 0 0 50%;
  }
}

@media (max-width: 768px) {
  .blog-section {
    padding: 50px 0 120px 0;
  }
  .blog-controls {
    width: 80%;
  }
}

@media (max-width: 540px) {
  .blog-item {
    padding: 0px;
    flex: 0 0 100%;
  }
  .blog-controls {
    width: 90%;
  }
}

.contact-section {
  padding: 120px 0;
  background-image: url(../images/contact-me.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  background-color: rgba(255, 255, 255, 0.9);
}

.section-title.contact-me h2 {
  color: var(--main-color);
}

.contact-me-content {
  width: 60%;
  margin: auto;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-left {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.form-left input {
  margin-bottom: 10px;
  padding: 5px 10px 18px 7px;
  background-color: rgba(238, 238, 238, 0.4);
  border: none;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}

.form-right {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.form-right textarea {
  margin-bottom: 10px;
  padding: 5px;
  height: 143px;
  background-color: rgba(238, 238, 238, 0.4);
  border: none;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  outline: none;
}

.form-right input {
  padding: 5px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #d4d4d4;
  background-color: #444;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.form-right input:hover {
  background-color: var(--main-color);
}

@media (max-width: 1200px) {
  .contact-me-content {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .contact-me-content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .contact-me-content {
    width: 60%;
  }
  .form-left {
    margin-bottom: 20px;
    width: 100%;
  }
  .form-right {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .contact-section {
    padding: 60px 0;
  }
  .contact-me-content {
    width: 90%;
  }
}

/* Start Footer Section */
.footer-section {
  background-color: #272727;
  border: 1px solid #eee;
}

.footer-info {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: gray;
}

.footer-links .footer-logo {
  margin-bottom: 5px;
  color: #fff;
  text-transform: capitalize;
}

.footer-links .footer-logo span {
  color: var(--main-color);
}

.footer-links .footer-social-media i {
  margin-right: 5px;
  transition: color 0.4s ease;
  cursor: pointer;
}

.footer-links .footer-social-media i:hover {
  color: var(--main-color);
}

.footer-about ul li a {
  display: inline-block;
  margin-bottom: 5px;
  color: #929191;
  font-size: 14px;
}

.footer-about ul li a span {
  color: var(--main-color);
}

.footer-about ul li a.footer-link-title {
  color: #fff;
  font-size: 16px;
}

.footer-services ul li a {
  display: inline-block;
  margin-bottom: 5px;
  color: #929191;
  font-size: 14px;
}

.footer-services ul li a.footer-link-title {
  color: #fff;
  font-size: 16px;
}

.footer-blog ul li a {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
}

.footer-blog ul li a.footer-link-title {
  color: #fff;
  font-size: 16px;
}

.footer-find-us ul li a {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
}

.footer-find-us ul li a.footer-link-title {
  color: #fff;
  font-size: 16px;
}

.footer-btn {
  margin-top: 5px;
  color: #fff !important;
  background-color: var(--main-color);
  border-radius: 5px;
  transition: all 0.4s ease;
}

.footer-btn:hover {
  color: var(--main-color) !important;
  background-color: #fff;
}

.blog-btn {
  margin: 5px 0;
  padding: 8px 37px;
}

.find-us-btn {
  padding: 8px 40px;
}

.footer-copyright {
  padding: 20px 0;
  color: gray;
  text-align: center;
  text-transform: capitalize;
  border-top: 1px solid gray;
}

@media (max-width: 992px) {
  .footer-links {
    margin-top: 20px;
    width: 100%;
  }
}

@media (max-width: 640px) {
  .footer-info-item {
    margin-bottom: 20px;
    width: 50%;
  }
}

/* End Footer Section */
/*# sourceMappingURL=main.css.map */
