// Start Header Section

.header-section {
  background-color: #272727;
}
// End Header Section

// Start The About Page Content
.about-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
// End The About Page Content
