// Start Header Section

.header-section {
  background-color: #272727;
}
// End Header Section

// Start The Blog Page Content
.blog-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
// End The Blog Page Content
