// Start Header Section

.header-section {
  background-color: #272727;
}
// End Header Section

// Start The Projects Page Content
.projects-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
// End The Projects Page Content
